services:
  minecraftmanager:
    build:
      context: .
    ports:
      - 7843:7843 # HTTP
    volumes:
      - servers:/servers
      - data:/data
    restart: unless-stopped
    hostname: minecraftmanager
    stop_signal: SIGINT
    env_file: ".env"
volumes:
  servers:
  data: