services:
  minecraftmanager:
    build:
      context: .
    ports:
      - 7843:7843 # HTTP
      - 25565:25565 # Minecraft
      - 25565:25565/udp # Minecraft
      - 19132:19132/udp # Bedrock/Geyser
    volumes:
      - servers:/servers
      - data:/data
    hostname: minecraftmanager
    stop_signal: SIGINT
    env_file: ".env"
    stop_grace_period: 60s
volumes:
  servers:
  data: