#loadOverlay {display:none;}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(31, 33, 33);
    color: white;
}
#header {
    background-color: #515151;
    color: white;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center; /* center vertically */
    justify-content: space-between; /* left/right edges */
}
#header #header-left,
#header #header-right {
    display: flex;
    align-items: center; /* center vertically */
}
#header a, .serverlink {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
#header a:hover, .serverlink:hover {
    text-decoration: underline;
}
main.centered, main:has(form) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
input[type="text"], input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}
input[type="submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
main {
    padding: 5px 20px;
}
/* the actual dashboard styling */
#serverlist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
#serverlist > div {
    background-color: #515151;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
}
.server-console {
    background-color: #333;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
    white-space: pre-wrap;
    border-radius: 4px;
    margin-bottom: 10px;
}
.directory, .file {
    padding: 5px;
    border-bottom: 1px solid #555;
    cursor: pointer;
}
#server .server-console {
    height: 450px;
}
.rename-button {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.rename-button:hover {
    background-color: #007bb5;
}
.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.delete-button:hover {
    background-color: #da190b;
}
.server-action-buttons {
    background-color: #808080;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}
button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    background-color: #4CAF50;
}
button:hover {
    background-color: #45a049;
}
button.start-server {
    background-color: #4CAF50;
}
button.start-server:hover {
    background-color: #45a049;
}
button.stop-server {
    background-color: #f44336;
}
button.stop-server:hover {
    background-color: #da190b;
}
button.restart-server {
    background-color: #008CBA;
}
button.restart-server:hover {
    background-color: #007bb5;
}
button.run-command {
    background-color: #009e6e;
}
button.run-command:hover {
    background-color: #007b5e;
}