#loadOverlay {display:none;}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
#header {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center; /* center vertically */
    justify-content: space-between; /* left/right edges */
}
#header #header-left,
#header #header-right {
    display: flex;
    align-items: center; /* center vertically */
}