{% extends "templates/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block mainid %}dashboard{% endblock %}
{% block content %}
<h1>Dashboard</h1><button onclick="location.href='/addserver'">Add server</button><br>
<div id="serverlist">
    {% for server, data in servers.items() %}
        <div id="server-{{server.id}}">
            {% set init_status = get_server_status(server) %}
            <meta name="server-{{server.id}}-init-status" content="{{init_status.running}}-{{init_status.fully_started}}">
            <h2>{{server.name}}</h2><br>
            <div class="server-console"></div>
            <div class="server-action-buttons">
                <button class="start-server" onclick="socket.emit('start_server', {'server_id': {{server.id}}})">Start</button>
                <button class="stop-server" onclick="socket.emit('stop_server', {'server_id': {{server.id}}})" hidden>Stop</button>
                <button class="restart-server" onclick="socket.emit('restart_server', {'server_id': {{server.id}}})" hidden>Restart</button>
                <button class="run-command" onclick="runCommand({{server.id}})" hidden>Run Command</button>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
    function getCookie(name) {
        let value = "; " + document.cookie;
        let parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }

    const token = getCookie("token");
    var socket = io({
        auth: { token: token }
    });
    var serverStatus = {};
    let cdc = false;
    // there was probably a better way to do this
    document.querySelectorAll("meta[name^='server-'][name$='-init-status']").forEach(meta => {
        const serverId = meta.name.slice(7, -12);
        const [running, fully_started] = meta.content.split("-");
        serverStatus[serverId] = { running: running === "True", fully_started: fully_started === "True" };
        if (serverStatus[serverId].running) {
            document.querySelector(`#server-${serverId} .start-server`).hidden = true;
            if (serverStatus[serverId].fully_started) {
                document.querySelector(`#server-${serverId} .stop-server`).hidden = false;
                document.querySelector(`#server-${serverId} .restart-server`).hidden = false;
                document.querySelector(`#server-${serverId} .run-command`).hidden = false;
            }
        }
        console.log(`Initial status of server ${serverId}: ${meta.content}`);
    });
    socket.on("connect", () => {
        console.log("Connected to server");
        if (cdc) {
            // sloppy way of doing it, should probably just re-request the status of all servers
            location.reload();
        }
    });
    socket.on("disconnect", () => {
        console.log("Disconnected from server");
        cdc = true;
    });
    socket.on("server_started", (data) => {
        console.log("Server started:", data);
        serverStatus[data.server_id] = {running: true, fully_started: false};
        document.querySelector(`#server-${data.server_id} .start-server`).hidden = true;
        const consoleDiv = document.querySelector(`#server-${data.server_id} .server-console`);
        consoleDiv.textContent = "";
    });
    socket.on("server_stopped", (data) => {
        console.log("Server stopped:", data);
        serverStatus[data.server_id] = {running: false, fully_started: false};
        document.querySelector(`#server-${data.server_id} .start-server`).hidden = false;
        document.querySelector(`#server-${data.server_id} .stop-server`).hidden = true;
        document.querySelector(`#server-${data.server_id} .restart-server`).hidden = true;
        document.querySelector(`#server-${data.server_id} .run-command`).hidden = true;
    });
    socket.on("server_output", (data) => {
        console.log("Server output:", data);
        const consoleDiv = document.querySelector(`#server-${data.server_id} .server-console`);
        const isAtBottom = consoleDiv.scrollHeight - consoleDiv.clientHeight <= consoleDiv.scrollTop + 1;
        consoleDiv.textContent += data.output;
        if (isAtBottom) {
            consoleDiv.scrollTop = consoleDiv.scrollHeight - consoleDiv.clientHeight;
        }
    });
    socket.on("server_fully_started", (data) => {
        console.log("Server fully started:", data);
        serverStatus[data.server_id].fully_started = true;
        document.querySelector(`#server-${data.server_id} .stop-server`).hidden = false;
        document.querySelector(`#server-${data.server_id} .restart-server`).hidden = false;
        document.querySelector(`#server-${data.server_id} .run-command`).hidden = false;
    });
    function runCommand(serverId) {
        const command = prompt("Enter the command to run:");
        if (command) {
            fetch(`/servers/${serverId}/command`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    command: command
                }),
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                alert(data.output)
            })
            .catch(error => {
                alert('An error occurred: ' + error.message);
            });
        }
    }
</script>
{% endblock %}