{% extends "templates/base.html" %}
{% block title %}{{server.name}}{% endblock %}
{% block mainid %}server{% endblock %}
{% block content %}
<h1>{{server.name}}</h1>
<div class="server-action-buttons">
    <button class="start-server" onclick="socket.emit('start_server', {'server_id': serverId})">Start</button>
    <button class="stop-server" onclick="socket.emit('stop_server', {'server_id': serverId})" hidden>Stop</button>
    <button class="restart-server" onclick="socket.emit('restart_server', {'server_id': serverId})" hidden>Restart</button>
    <button class="run-command" onclick="runCommand()" hidden>Run Command</button>
    <button onclick="showTab('console')" id="console-tab" hidden>Console</button>
    <button onclick="showTab('files')" id="files-tab">Files</button>
    <button onclick="uploadFile()" id="upload-tab" hidden>Upload File</button>
</div>
<div class="server-console">{{get_server_output(server)}}</div>
<div class="server-files" hidden>

</div>
{% endblock %}
{% block script %}
<script>
    var serverStatus = { running: {% if server_status.running %}true{% else %}false{% endif %}, fully_started: {% if server_status.fully_started %}true{% else %}false{% endif %} };
    const serverId = {{server.id}};
    var currentDirectory = "";
    if (serverStatus.running) {
        document.querySelector(".start-server").hidden = true;
        if (serverStatus.fully_started) {
            document.querySelector(".stop-server").hidden = false;
            document.querySelector(".restart-server").hidden = false;
            document.querySelector(".run-command").hidden = false;
        }
    }
    socket.on("server_started", (data) => {
        if (data.server_id == serverId) {
            console.log("Server started:", data);
            serverStatus = {running: true, fully_started: false};
            document.querySelector(".start-server").hidden = true;
            const consoleDiv = document.querySelector(".server-console");
            consoleDiv.textContent = "";
        }
    });
    socket.on("server_stopped", (data) => {
        if (data.server_id == serverId) {
            console.log("Server stopped:", data);
            serverStatus = {running: false, fully_started: false};
            document.querySelector(".start-server").hidden = false;
            document.querySelector(".stop-server").hidden = true;
            document.querySelector(".restart-server").hidden = true;
            document.querySelector(".run-command").hidden = true;
        }
    });
    socket.on("server_output", (data) => {
        if (data.server_id == serverId) {
            console.log("Server output:", data);
            const consoleDiv = document.querySelector(".server-console");
            const isAtBottom = consoleDiv.scrollHeight - consoleDiv.clientHeight <= consoleDiv.scrollTop + 1;
            consoleDiv.textContent += data.output;
            if (isAtBottom) {
                consoleDiv.scrollTop = consoleDiv.scrollHeight - consoleDiv.clientHeight;
            }
        }
    });
    function runCommand() {
        const command = prompt("Enter the command to run:");
        if (command) {
            fetch(`/servers/${serverId}/command`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    command: command
                }),
                credentials: 'include'
            })
            .then(response => response.json())
            .then(data => {
                alert(data.output)
            })
            .catch(error => {
                alert('An error occurred: ' + error.message);
            });
        }
    }
    socket.on("server_fully_started", (data) => {
        if (data.server_id == serverId) {
            console.log("Server fully started:", data);
            serverStatus.fully_started = true;
            document.querySelector(".stop-server").hidden = false;
            document.querySelector(".restart-server").hidden = false;
            document.querySelector(".run-command").hidden = false;
        }
    });
    function listDir(directory) {
        fetch(`/server/${serverId}/files/${directory}`, {credentials: 'include'})
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert('Error: ' + data.error);
                    return;
                }
                const filesDiv = document.querySelector(".server-files");
                filesDiv.innerHTML = "";
                backelement = document.createElement("div");
                backelement.textContent = "..";
                backelement.classList.add("directory");
                backelement.onclick = () => listDir(directory.split("/").slice(0, -1).join("/")); // uhh
                filesDiv.appendChild(backelement);
                data.files.forEach(file => {
                    const fileElement = document.createElement("div");
                    if (file.type === 'dir') {
                        fileElement.textContent = "📁 " + file.name;
                        fileElement.classList.add("directory");
                        fileElement.onclick = () => listDir(directory ? `${directory}/${file.name}` : file.name);
                    } else {
                        fileElement.textContent = "📄 " + file.name;
                        fileElement.classList.add("file");
                    }
                    filesDiv.appendChild(fileElement);
                });
                currentDirectory = directory;
            })
            .catch(error => {
                alert('An error occurred: ' + error.message);
            });
    }
    function showTab(tab) {
        if (tab === 'console') {
            document.querySelector(".server-console").hidden = false;
            document.querySelector(".server-files").hidden = true;
            document.getElementById("console-tab").hidden = true;
            document.getElementById("files-tab").hidden = false;
            document.getElementById("upload-tab").hidden = true;
        } else {
            document.querySelector(".server-console").hidden = true;
            document.querySelector(".server-files").hidden = false;
            document.getElementById("console-tab").hidden = false;
            document.getElementById("files-tab").hidden = true;
            document.getElementById("upload-tab").hidden = false;
        }
    }
    function uploadFile() {
        // Allow multiple file uploads at once, and then send individual PUT requests for each file
        const input = document.createElement("input");
        input.type = "file";
        input.multiple = true;
        input.onchange = () => {
            const files = input.files;
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const formData = new FormData();
                formData.append("file", file);
                const path = currentDirectory ? `${currentDirectory}/${file.name}` : file.name;
                fetch(`/server/${serverId}/files/${path}`, {
                    method: 'PUT',
                    body: formData,
                    credentials: 'include'
                })
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert('Error uploading ' + file.name + ': ' + data.error);
                    } else {
                        listDir(currentDirectory);
                    }
                })
                .catch(error => {
                    alert('An error occurred while uploading ' + file.name + ': ' + error.message);
                });
            }
        };
        input.click();
    }
    document.addEventListener("DOMContentLoaded", () => {
        const consoleDiv = document.querySelector(".server-console");
        consoleDiv.scrollTop = consoleDiv.scrollHeight - consoleDiv.clientHeight;
    });
    listDir("");
</script>
{% endblock %}