{% extends "templates/base.html" %}
{% block title %}Users{% endblock %}
{% block mainid %}users{% endblock %}
{% block content %}
<h1>Users</h1><button onclick="addUser()">Add user</button><br>
<div id="users">
    {% for user in users %}
    <div class="user">
        {{user.id}} <button onclick="changepwd('{{user.id}}')">Change password</button> <button onclick="deleteUser('{{user.id}}')">Delete</button>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block script %}
<script>
    function addUser() {
        const name = prompt("Username:");
        if (name === null) {
            return
        }
        const pwd = prompt("New password for " + name + ":");
        if (pwd === null) {
            return
        }
        const c = confirm("Are you sure you want to create user " + name + "? They will have full access to everything in this instance.")
        if (!c) {
            return
        }
        fetch('/adduser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({name: name, pwd: pwd}),
            credentials: 'include'
        }).then(response => {
            if (response.ok) {
                // Reloads the current page
                window.location.reload();
            } else {
                console.error('Server returned an error');
            }
        })
    }
    function changepwd(user) {
        const pwd = prompt("New password for " + user + ":");
        if (pwd === null) {
            return
        }
        fetch('/changepwd', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({user: user, pwd: pwd}),
            credentials: 'include'
        })
    }
    function deleteUser(user) {
        const c = confirm("Are you sure you want to delete " + user)
        if (!c) {
            return
        }
        fetch('/deleteuser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({user: user}),
            credentials: 'include'
        }).then(r => {location.reload()})
    }
</script>
{% endblock %}
